---
title: Tisdag
date: "2023-01-17"
---

<script>
 let a = 0;
</script>

Laddat ner koden från git

Ändrat färgen på border för class "upgrade"

<h1>{a}</h1>

<button on:click={()=>{a = a + 1}}>CLICK ME</button>
